<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--&lt;!&ndash; 要调用的工作类 &ndash;&gt;-->
    <!--<bean id="quartzJob" class="com.kay.quartz.QuartzJob"></bean>-->
    <!--&lt;!&ndash; 定义调用对象和调用对象的方法 &ndash;&gt;-->
    <!--<bean id="jobtask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--&lt;!&ndash; 调用的类 &ndash;&gt;-->
        <!--<property name="targetObject">-->
            <!--<ref bean="quartzJob"/>-->
        <!--</property>-->
        <!--&lt;!&ndash; 调用类中的方法 &ndash;&gt;-->
        <!--<property name="targetMethod">-->
            <!--<value>work</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 定义触发时间 &ndash;&gt;-->
    <!--<bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail">-->
            <!--<ref bean="jobtask"/>-->
        <!--</property>-->
        <!--&lt;!&ndash; cron表达式 &ndash;&gt;-->
        <!--<property name="cronExpression">-->
            <!--<value>10,15,20,25,30,35,40,45,50,55 * * * * ?</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  &ndash;&gt;-->
    <!--<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="doTime"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
</beans>


